<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snapchat.team2.snapchat">

    <!-- Permission of using camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <!-- Permission of storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- permission of internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoLabel">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateNewChatActivity"
            android:label="@string/title_activity_create_new_chat"
            android:screenOrientation="portrait" />
        <activity android:name=".ChatRoomActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".UserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".RegisterActivity2"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".fragement.StoryDetail" />
        <activity android:name=".MemoryActivity"
            android:theme="@style/Widget.AppCompat.Light.ActionBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".AddFriendActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AddUserFromContacts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddByUsernameActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>